[Unit]
Description=Quantix's distributed currency daemon
After=network.target

[Service]
User=quantixcore
Group=quantixcore

Type=forking
PIDFile=/var/lib/quantixd/quantixd.pid
ExecStart=/usr/bin/quantixd -daemon -pid=/var/lib/quantixd/quantixd.pid \
-conf=/etc/quantixcore/quantix.conf -datadir=/var/lib/quantixd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
